<h2>Index</h2>
<table class="table table-bordered">
  
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Tipo de identificación</th>
    <th scope="col">Identificación</th>
    <th scope="col">Primer nombre</th>
    <th scope="col">Segundo nombre</th>
    <th scope="col">Primer apellido</th>
    <th scope="col">Segundo apellido</th>
    <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>

